electron-mirror=https://npmmirror.com/mirrors/electron/
@react-screenshots:registry=http://localhost:4873/
@electron-screenshots:registry=http://localhost:4873/
electron-builder-binaries-mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
